%nav.navbar.navbar-default
  .container
    .navbar-header
      %span.navbar-brand.pull-left.hidden-sm.hidden-xs
      = link_to t('app_title'), root_path, class: 'navbar-brand'	
      %button.navbar-toggle{"aria-expanded" => "false", "data-target" => "#nav_collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #nav_collapse.collapse.navbar-collapse.navbar-toggleable-xs
      %ul.nav-list.nav.navbar-nav
        %li.nav-item
          %a.nav-link{:href => "#about"} About
        %li.nav-item
          %a.nav-link{:href => "#portfolio"} Portfolio
        %li.nav-item
          %a.nav-link{:href => "#contact"} Contact