-# Provides a masonry layout when displaying the list of posts
.container
	.masonry
		- @posts.each do |post|
			.card
				%a{:href => "/posts/#{post.id}"}
					= image_tag post.post_image.url(:post_index), class: "post"
					.description
						%h4= post.title
						%p= post.price