.container#wrapped
	#post_edit.row
		.col-md-8.col-md-offset-2
			.panel.panel-default
				-#Holds the image
				.panel-heading.post_image
					= image_tag @post.post_image.url(:post_show), class: "image_show"
				-#Content
				.panel-body
					-#Renders the edit post page
					%h3= t('.title')
					=render 'form'
				-#footer
				.panel-footer
					.row
						.col-md-12
							.btn-group.pull-right
								= link_to t('.back'), root_path, class: "btn btn-default"


	

