/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$warm-colour: #efefef;
$shadow-effect: inset 0px 0px 50px rgba(0,0,0,0.55);
$hover-colour: #d3d3d3;

$font: sans serif;

$white: #FFFFFF;
/* Nav bar colours */
$navbar-background: #323232;


/*Toggle button background colour */
$toggle-active-background: #3c3c3c;

/* Globally setting font family to be sans serif */
* {
	font-family: $font !important;
}


/*Sets the background color*/
body {
  background: $warm-colour;
  box-shadow: $shadow-effect;
  /* Disabling the horizontal side bar */
  margin: 0;
  width: 100%;
  height:100%;
  max-width: 100%;
  overflow-x: hidden;
}


hr {
  height: 1px;
  color: #d2d2d2;
  background-color: #d2d2d2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #d2d2d2, rgba(0, 0, 0, 0));
  border: none;
}

 a:hover, a:focus, a:active {
 	background: transparent;
    text-decoration: none;
    color: inherit;
 }



.panel-heading.post_image {
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

	.image_show {
		flex-shrink: 0;
   		min-width: 100%;
   		min-height: 100%;
	}
}



/* ALERTS
 ======================================*/
.container#alerts {
	margin-top:40px;
	margin: 0px 20px;
}


/* DEVISE: LOGIN STYLING
========================================*/

#devise_signin.row {
	margin: 80px 0px;
	padding: 0 30px;
	height: 70vh;
}

label {
    font-weight: normal !important;
    padding-left: 10px;
}


/* NAVBAR 
 ======================================*/

/* Fixes the position of the nav bar at the top
   makes sure it covers the full width of the body 
   margin is added to prevent white space
   opacity is added for design*/
.navbar {
	position: fixed;
	width:100%;
    margin-bottom: 0!important;
    opacity: 0.85;
}


/* Sets the background and border color of the navbar*/
.navbar-default {
    background-color: $navbar-background;
    border-color: $navbar-background;
}



/* Sets element a descendent of lia nd li as white
   Sets the navbar brand as white*/
.navbar-default .navbar-brand,
.navbar-default .navbar-collapse ul.navbar-nav>li>a {
    color: $white;
}

/* If the user hovers over the a element.. */
.navbar-default .navbar-collapse ul.navbar-nav>li>a:hover {
    color: $hover-colour;
} 

/* If the user hovers over the nav brand, an opacity is applied */
.navbar-default .navbar-brand:hover {
    color: $hover-colour;
    opacity: 0.8;
}

/*this removes the white line below the navbar+div when the toggle button is pressed*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
}


/* CSS for the nav bar toggle button */
.navbar-default .navbar-toggle {
	/* sets a colour to the border to blend with the nav bar */
    border-color: $navbar-background;

    /* sets the icon bar as white */
    .icon-bar {
   	 background-color: $white;
	}	

	/* if the user hovers over the toggle button
	   - changes background colour
	   - changes icon colour */
	&:hover {
		background-color: $toggle-active-background;
		.icon-bar {
			background-color: $hover-colour;
		}
	}

	/* if the user clicks the toggle button
		-background colour is changed
		-icon colour is changed
		unfocus is sorted out in JQuery */
	&:focus {
		border-color: $navbar-background;
  		background-color: $toggle-active-background;

  		.icon-bar {
  			background-color: $hover-colour;
  		}
	}


}

/* Sets the position of the nav bar*/
.navbar-header .navbar-brand {
	position: absolute;
	height: 100%;
	left: 45px;
    vertical-align: middle;

    /* Aligns the image with the brand name
       struggled alot with this bit ;L */
    img {
    	position: absolute;
		height: 100%;
		top: 0px;
		left: -40px;
		max-width: 47px;
		max-height: 45px;
		margin-top: 2px;
	    vertical-align: middle;
    }
}

/*
Flash container msg
==========================================*/
.container#flash {
	position:absolute;
	top:60px;
	z-index: 10;
	opacity: 0.8;
}


/*
	INTRO/FOOTER
	==============================
*/
.intro {
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	line-height: 20px;

	#wrap.wrapper {
		padding: 40px 40px;
		padding-top: 10px;
	}

}

footer {
	width: 100%;
	background-color: $navbar-background;
	
	.wrapper {
		padding: 60px 0;
		nav ul {
			margin: 0;
			li{
				display: inline;
				margin-left:20px;
				list-style: none;
				line-height:0;

				a {
					color: $white;
					background: transparent;
					font-size: 14px;
					&:hover {
						color: $hover-colour;
					}
				}
			}
		}
	}
}



/* DESIGN FOR LARGER DEVICES
	The logo kept moving when the screen size was greater than 768
	so the logo was adjusted to keep it in place
 */
@media only screen and (min-width: 768px) {
/*Points to the object with class name site-heading, in masthead, in the post view */
	.navbar-header .navbar-brand {
		position: absolute;
		height: 100%;
		left: 60px;
	    vertical-align: middle;

	    img {
	    	position: absolute;
			height: 100%;
			top: 0px;
			left: -40px;
			max-width: 47px;
			max-height: 45px;
			margin-top: 2px;
		    vertical-align: middle;
	    }
	}
}