// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 /* Provides room for the list of posts that belong to the user */
.halfpage {
	min-height:35vh;
}

/* Makes sure the footer stays at the bottom 
   Makes sure the container is below the navbar when loaded
   this is applied to the similar views*/
#profile_show.row {
	margin-top: 80px;
	position: relative;
	padding: 0 30px;
	height: 45vh;
}
#profile_new.row {
	margin: 80px 0px;
	padding: 0 30px;
	height: 70vh;
}

#profile_edit.row {
	margin: 80px 0px;
	padding: 0 30px;
	height: 70vh;
}

/* reducing the padding on this hr tag */
hr.divider {
	margin: 0em;
  	border-width: 2px;
  	margin-bottom:10px;
}
