// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 /* Moves header below the nav bar */
#profile_show.row {
	margin-top: 80px;
	padding: 0 30px;
	height: 45vh;
}

#profile_new.row {
	margin: 80px 0px;
	padding: 0 30px;
	height: 70vh;
}

#profile_edit.row {
	margin: 80px 0px;
	padding: 0 30px;
	height: 70vh;
}

hr.divider {
	margin: 0em;
  	border-width: 2px;
  	margin-bottom:10px;
}
