= simple_form_for([@profile, @profile.reviews.build]) do |f|
	= f.input :rating ,label: false, placeholder: t('reviews.rating')
	= f.input :comment ,label: false, placeholder: t('reviews.comment')
	= f.button :submit, t('reviews.submit')
